<nav class="nav nav-pills gap-2">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="/about">About</NavLink>
    <NavLink class="nav-link" href="/admin/dashboard">Admin</NavLink>
    <NavLink class="nav-link" href="/admin/login">Login</NavLink>
</nav>
