.env
vendor/
.composer/
composer.phar
composer-setup.php
*.zip
*.rar
public/uploads/product-images/*
public/uploads/qr-codes/*
!public/uploads/product-images/.gitkeep
!public/uploads/qr-codes/.gitkeep
